{% extends 'base.html' %}

{% block content %}
<div class="form-container">
<h2>Редактирование записи ТО</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-success">Сохранить</button>
     <button type="button" class="btn-cancel" onclick="window.history.back();">Отмена</button>
</form>
<form action="{% url 'maintenance_delete' object.id %}" method="post"
      onsubmit="return confirm('Вы уверены?');" class="d-inline">
    {% csrf_token %}
    <button type="submit" class="btn-cancel">
        <i class="bi bi-trash"></i> Удалить
    </button>
</form></div>
{% endblock %}