{% extends 'base.html' %}

{% block content %}
<div class="sticky-elements">
    <div class="info">

        <p>Информация о комплектации и технических характеристиках Вашей техники</p>

    </div>

  <div class="nav-links">
      <a href="{% url 'serv_car' %}" class="{% if active_tab == 'cars' %}active-link{% endif %}">Машины</a>
      <a href="{% url 'serv_mainten' %}" class="{% if active_tab == 'maintenance' %}active-link{% endif %}">ТО</a>
      <a href="{% url 'serv_compl' %}" class="{% if active_tab == 'complaints' %}active-link{% endif %}">Рекламации</a>
      <a href="{% url 'serv_main_create' %}" class="{% if active_tab == 'mainten_add' %}active-link{% endif %}">Добавить_ТО</a>
      <a href="{% url 'serv_compl_create' %}" class="{% if active_tab == 'compl_add' %}active-link{% endif %}">Добавить_Рекламацию</a>
  </div>
</div>
<div class="filter-form">
    <form method="get">
        <!-- Каждое поле в отдельной строке -->
        <div class="filter-field">
            <label for="id_failnode">Узел отказа:</label>
            {{ filter.form.failnode }}
        </div>

        <div class="filter-field">
            <label for="id_recoverymethod">Способ восстановления:</label>
            {{ filter.form.recoverymethod }}
        </div>

        <div class="filter-field">
            <label for="id_serviceorg">Сервисная компания:</label>
            {{ filter.form.serviceorg }}
        </div>


        <div class="filter-buttons">
            <button type="submit" class="btn btn-primary">Применить фильтр</button>
            <a href="?" class="btn-outline-secondary">Сбросить</a>
        </div>
    </form>
</div>
<div class="scrollable-content">
<div class="table-wrapper">
    {% if user.is_authenticated %}
    {% if scom %}
    <table class="responsive-table">
        <thead>
            <tr>
                <th><a href="?order=car">Mашина</a></th>
                <th><a href="?order=databroke">Дата отказа</a></th>
                <th><a href="?order=workhour">Наработка, м/час</a></th>
                <th><a href="?order=failnode">Узел отказа</a></th>
                <th><a href="?order=description">Описание отказа</a></th>
                <th><a href="?order=recoverymethod">Способ восстановления</a></th>
                <th><a href="?order=usepart">Используемые запасные части</a></th>
                <th><a href="?order=datamainten">Дата проведения ТО</a></th>
                <th><a href="?order=restoredate">Дата восстановления</a></th>
                <th><a href="?order=downtime">Время простоя техники</a></th>
                <th><a href="?order=serviceorg">Сервисная компания</a></th>
            </tr>
        </thead>
        <tbody>
            {% for car in scom %}
            <tr>
                <td><a href="{% url 'com_edit_serv' pk=car.pk %}" style="color: #163E6C; text-decoration: underline;">{{ car.car.carnumber }}</td>
                <td>{{ car.databroke }}</td>
                <td>{{ car.workhour }}</td>
                <td>{% if car.failnode %}
                    <a href="{% url 'view_failnode' pk=car.failnode.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                    title="Показать описание">
                    {{ car.failnode.name }}
                    </a>
                    {% else %}
                    —
                    {% endif %}</td>
                <td>{{ car.description }}</td>
                <td>{% if car.recoverymethod %}
                    <a href="{% url 'view_recoverymethod' pk=car.recoverymethod.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.recoverymethod.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{{ car.usepart }}</td>
                <td>{{ car.datamainten }}</td>
                <td>{{ car.restoredate }}</td>
                <td>{{ car.downtime }}</td>
                <td>{% if car.serviceorg %}
                    <a href="{% url 'view_serviceorg' pk=car.serviceorg.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.serviceorg.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
    <p>Нет данных о рекламациях/p>
    {% endif %}
</div>
    {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">←</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">→</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Последняя</a>
        {% endif %}
    </div>
    {% endif %}
        {% else %}
        <div class="alert alert-warning">
        <a href="{% url 'login' %}">Войдите</a>, чтобы просмотреть информацию
        </div>
    {% endif %}

</div>
</div>

{% endblock %}
