{% extends 'base.html' %}

{% block content %}
    <div>

        <p>Информация о комплектации и технических характеристиках Вашей техники</p>
    </div>

  <div class="nav-links">
    <a href="{% url 'serv_car' %}" class="{% if active_tab == 'cars' %}active-link{% endif %}">Машины</a>
    <a href="{% url 'serv_mainten' %}" class="{% if active_tab == 'maintenance' %}active-link{% endif %}">ТО</a>
    <a href="{% url 'serv_compl' %}" class="{% if active_tab == 'complaints' %}active-link{% endif %}">Рекламации</a>
    <a href="{% url 'serv_main_create' %}" class="{% if active_tab == 'mainten_add' %}active-link{% endif %}">Добавить_ТО</a>
    <a href="{% url 'serv_compl_create' %}" class="{% if active_tab == 'compl_add' %}active-link{% endif %}">Добавить_Рекламацию</a>
  </div>


<div>
    {% if user.is_authenticated %}
        {% if scars %}
    <table>
        <thead>
            <tr>
                <th><a href="?order=carnumber">Зав. № машины</a></th>
                <th><a href="?order=carmodel">Модель техники</a></th>
                <th><a href="?order=enginemodel">Модель двигателя</a></th>
                <th><a href="?order=enginenumber">Зав. № двигателя</a></th>
                <th><a href="?order=transmodel">Модель трансмиссии</a></th>
                <th><a href="?order=transnember">Зав. № трансмиссии</a></th>
                <th><a href="?order=axdrivemodel">Модель ведущего моста</a></th>
                <th><a href="?order=axdrivenumber">Зав. № ведущего моста</a></th>
                <th><a href="?order=axcontrolmodel">Модель управляемого моста</a></th>
                <th><a href="?order=axcontrolnumber">Зав. № управляемого моста</a></th>
                <th><a href="?order=dataconractsupply">Договор поставки №, дата</a></th>
                <th><a href="?order=datashipfactory">Дата отгрузки с завода</a></th>
                <th><a href="?order=consignee">Грузополучатель</a></th>
                <th><a href="?order=deliveryadd">Адрес поставки</a></th>
                <th><a href="?order=equipment">Комплектация (доп. опции)</a></th>
                <th><a href="?order=user">Клиент</a></th>
                <th><a href="?order=servicecompany">Сервисная компания</a></th>
            </tr>
        </thead>
        <tbody>
        {% for car in scars %}
            <tr>
                <td>{{ car.carnumber }}</td>
                 <td>{% if car.carmodel %}
                    <a href="{% url 'view_carmodel' pk=car.carmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.carmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{% if car.enginemodel %}
                    <a href="{% url 'view_enginemodel' pk=car.enginemodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.enginemodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{{ car.enginenumber }}</td>
                <td>{% if car.transmodel %}
                    <a href="{% url 'view_transmodel' pk=car.transmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.transmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{{ car.transnember }}</td>
                <td>{% if car.axdrivemodel %}
                    <a href="{% url 'view_axdrivemodel' pk=car.axdrivemodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.axdrivemodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{{ car.axdrivenumber }}</td>
                <td>{% if car.axcontrolmodel %}
                    <a href="{% url 'view_axcontrolmodel' pk=car.axcontrolmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.axcontrolmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td>{{ car.axcontrolnumber }}</td>
                <td>{{ car.dataconractsupply }}</td>
                <td>{{ car.datashipfactory }}</td>
                <td>{{ car.consignee }}</td>
                <td>{{ car.deliveryadd }}</td>
                <td>{{ car.equipment }}</td>
                <td>{{ car.user }}</td>
                <td>{{ car.servicecompany }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
 {% endif %}
    {% else %}
        <div class="alert alert-warning">
            <a href="{% url 'login' %}">Войдите</a>, чтобы просмотреть свои автомобили
        </div>
    {% endif %}
</div>
{% endblock %}