{% extends 'base.html' %}

{% block content %}
    <div>

        <p>Информация о комплектации и технических характеристиках Вашей техники</p>

    </div>

  <div class="nav-links">
      <a href="{% url 'admin_car' %}" class="{% if active_tab == 'cars' %}active-link{% endif %}">Машины</a>
      <a href="{% url 'admin_mainten' %}" class="{% if active_tab == 'maintenance' %}active-link{% endif %}">ТО</a>
      <a href="{% url 'admin_compl' %}" class="{% if active_tab == 'complaints' %}active-link{% endif %}">Рекламации</a>
      <a href="{% url 'admin_car_create' %}" class="{% if active_tab == 'car_add' %}active-link{% endif %}">Добавить_Машину</a>
      <a href="{% url 'admin_main_create' %}" class="{% if active_tab == 'mainten_add' %}active-link{% endif %}">Добавить_ТО</a>
      <a href="{% url 'admin_compl_create' %}" class="{% if active_tab == 'compl_add' %}active-link{% endif %}">Добавить_Рекламацию</a>
  </div>
<div class="filter-form">
    <form method="get">

            <div class="filter-field">
                <label for="id_carnumber">Зав. № машины:</label>
                {{ filter.form.carnumber }}
            </div>
            <div class="filter-field">
                <label for="id_carmodel">Модель техники:</label>
                {{ filter.form.carmodel }}
            </div>
            <div class="filter-field">
                <label for="id_enginemodel">Модель двигателя:</label>
                {{ filter.form.enginemodel }}
            </div>

            <div class="filter-field">
                <label for="id_transmodel">Модель трансмиссии:</label>
                {{ filter.form.transmodel }}
            </div>
            <div class="filter-field">
                <label for="id_axdrivemodel">Ведущий мост:</label>
                {{ filter.form.axdrivemodel }}
            </div>
            <div class="filter-field">
                <label for="id_axcontrolmodel">Управляемый мост:</label>
                {{ filter.form.axcontrolmodel }}
            </div>

        <div class="filter-buttons">
            <button type="submit" class="btn btn-primary">Применить фильтр</button>
            <a href="?" class="btn-outline-secondary">Сбросить</a>
        </div>
    </form>
</div>

<div>
    {% if filter.qs %}  {# Изменяем adcars на filter.qs #}
    <table>
        <thead>
            <tr>
                <th><a href="?order=carnumber">Зав. № машины</a></th>
                <th><a href="?order=carmodel">Модель техники</a></th>
                <th><a href="?order=enginemodel">Модель двигателя</a></th>
                <th><a href="?order=enginenumber">Зав. № двигателя</a></th>
                <th><a href="?order=transnember">Зав. № трансмиссии</a></th>
                <th><a href="?order=axdrivemodel">Модель ведущего моста</a></th>
                <th><a href="?order=axdrivenumber">Зав. № ведущего моста</a></th>
                <th><a href="?order=axcontrolmodel">Модель управляемого моста</a></th>
                <th><a href="?order=axcontrolnumber">Зав. № управляемого моста</a></th>
                <th><a href="?order=dataconractsupply">Договор поставки №, дата</a></th>
            </tr>
        </thead>
        <tbody>
           {% for car in filter.qs %}  {# Изменяем adcars на filter.qs #}
            <tr>
                <td><a href="{% url 'car_edit_manager' pk=car.pk %}" style="color: #00008B; text-decoration: underline;">{{ car.carnumber }}</a></td>
                <td>{{ car.carmodel }}</td>
                <td>{{ car.enginemodel }}</td>
                <td>{{ car.enginenumber }}</td>
                <td>{{ car.transnember }}</td>
                <td>{{ car.axdrivemodel }}</td>
                <td>{{ car.axdrivenumber }}</td>
                <td>{{ car.axcontrolmodel }}</td>
                <td>{{ car.axcontrolnumber }}</td>
                <td>{{ car.dataconractsupply }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

   {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">←</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">→</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Последняя</a>
        {% endif %}
    </div>
 </div>
    {% endif %}

    {% else %}
    <div class="alert alert-warning">
        Автомобили не найдены
    </div>
    {% endif %}
</div>
<style>

</style>
{% endblock %}