{% extends 'base.html' %}

{% block content %}
<div class="sticky-elements">
    <div class="info">

        <p>Информация о комплектации и технических характеристиках Вашей техники</p>

    </div>

  <div class="nav-links">
      <a href="{% url 'admin_car' %}" class="{% if active_tab == 'cars' %}active-link{% endif %}">Машины</a>
      <a href="{% url 'admin_mainten' %}" class="{% if active_tab == 'maintenance' %}active-link{% endif %}">ТО</a>
      <a href="{% url 'admin_compl' %}" class="{% if active_tab == 'complaints' %}active-link{% endif %}">Рекламации</a>
      <a href="{% url 'admin_car_create' %}" class="{% if active_tab == 'car_add' %}active-link{% endif %}">Добавить_Машину</a>
      <a href="{% url 'admin_main_create' %}" class="{% if active_tab == 'mainten_add' %}active-link{% endif %}">Добавить_ТО</a>
      <a href="{% url 'admin_compl_create' %}" class="{% if active_tab == 'compl_add' %}active-link{% endif %}">Добавить_Рекламацию</a>
      <a href="{% url 'admin_reference' %}" class="{% if active_tab == 'reference' %}active-link{% endif %}">Справочники</a>
  </div>
</div>
<div class="filter-form">
    <form method="get">

            <div class="filter-field">
                <label for="id_carnumber">Зав. № машины:</label>
                {{ filter.form.carnumber }}
            </div>
            <div class="filter-field">
                <label for="id_carmodel">Модель техники:</label>
                {{ filter.form.carmodel }}
            </div>
            <div class="filter-field">
                <label for="id_enginemodel">Модель двигателя:</label>
                {{ filter.form.enginemodel }}
            </div>

            <div class="filter-field">
                <label for="id_transmodel">Модель трансмиссии:</label>
                {{ filter.form.transmodel }}
            </div>
            <div class="filter-field">
                <label for="id_axdrivemodel">Ведущий мост:</label>
                {{ filter.form.axdrivemodel }}
            </div>
            <div class="filter-field">
                <label for="id_axcontrolmodel">Управляемый мост:</label>
                {{ filter.form.axcontrolmodel }}
            </div>

        <div class="filter-buttons">
            <button type="submit" class="btn btn-primary">Применить фильтр</button>
            <a href="?" class="btn-outline-secondary">Сбросить</a>
        </div>
    </form>
</div>
<div class="scrollable-content">
<div class="table-wrapper" >
    {% if filter.qs %}  {# Изменяем adcars на filter.qs #}
    <table class="responsive-table">
        <thead>
            <tr>
                <th><a href="?order=carnumber">Зав. № машины</a></th>
                <th><a href="?order=carmodel">Модель техники</a></th>
                <th><a href="?order=enginemodel">Модель двигателя</a></th>
                <th><a href="?order=enginenumber">Зав. № двигателя</a></th>
                <th><a href="?order=transmodel">Модель трансмиссии</a></th>
                <th><a href="?order=transnember">Зав. № трансмиссии</a></th>
                <th><a href="?order=axdrivemodel">Модель ведущего моста</a></th>
                <th><a href="?order=axdrivenumber">Зав. № ведущего моста</a></th>
                <th><a href="?order=axcontrolmodel">Модель управляемого моста</a></th>
                <th><a href="?order=axcontrolnumber">Зав. № управляемого моста</a></th>
                <th><a href="?order=dataconractsupply">Договор поставки №, дата</a></th>
                <th><a href="?order=datashipfactory">Дата отгрузки с завода</a></th>
                <th><a href="?order=consignee">Грузополучатель</a></th>
                <th><a href="?order=deliveryadd">Адрес поставки</a></th>
                <th><a href="?order=equipment">Комплектация (доп. опции)</a></th>
                <th><a href="?order=user">Клиент</a></th>
                <th><a href="?order=servicecompany">Сервисная компания</a></th>
            </tr>
        </thead>
        <tbody>
           {% for car in filter.qs %}  {# Изменяем adcars на filter.qs #}
            <tr>
                <td data-label="Зав. № машины"><a href="{% url 'car_edit_manager' pk=car.pk %}" style="color: #163E6C; text-decoration: underline;">{{ car.carnumber }}</a></td>
                <td data-label="Модель техники">{% if car.carmodel %}
                    <a href="{% url 'view_carmodel' pk=car.carmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.carmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td data-label="Модель двигателя">{% if car.enginemodel %}
                    <a href="{% url 'view_enginemodel' pk=car.enginemodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.enginemodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td data-label="Зав. № двигателя">{{ car.enginenumber }}</td>
                <td data-label="Модель трансмиссии">{% if car.transmodel %}
                    <a href="{% url 'view_transmodel' pk=car.transmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.transmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td data-label="Зав. № трансмиссии">{{ car.transnember }}</td>
                <td data-label="Модель ведущего моста">{% if car.axdrivemodel %}
                    <a href="{% url 'view_axdrivemodel' pk=car.axdrivemodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.axdrivemodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td data-label="Зав. № ведущего моста">{{ car.axdrivenumber }}</td>
                <td data-label="Модель управляемого моста">{% if car.axcontrolmodel %}
                    <a href="{% url 'view_axcontrolmodel' pk=car.axcontrolmodel.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.axcontrolmodel.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
                <td data-label="Зав. № управляемого моста">{{ car.axcontrolnumber }}</td>
                <td data-label="Договор поставки №, дата">{{ car.dataconractsupply }}</td>
                <td data-label="Дата отгрузки с завода">{{ car.datashipfactory }}</td>
                <td data-label="Грузополучатель">{{ car.consignee }}</td>
                <td data-label="Адрес поставки">{{ car.deliveryadd }}</td>
                <td data-label="Комплектация (доп. опции)">{{ car.equipment }}</td>
                <td data-label="Клиент">{{ car.user }}</td>
                <td data-label="Сервисная компания">{% if car.servicecompany %}
                    <a href="{% url 'view_serviceorg' pk=car.servicecompany.pk %}"
                    style="color: #163E6C; text-decoration: underline;"
                     title="Показать описание">
                     {{ car.servicecompany.name }}
                    </a>
                    {% else %}
                     —
                    {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
   {% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page=1&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">←</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">→</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&order={{ request.GET.order }}{% for key, value in request.GET.items %}{% if key != 'page' and key != 'order' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Последняя</a>
        {% endif %}
    </div>

    {% endif %}

    {% else %}
    <div class="alert alert-warning">
        Автомобили не найдены
    </div>
    {% endif %}
</div>
</div>
{% endblock %}